Repository Anthonyntilelli/AI-Improv-Toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-validate-infra-analysis-node, terraform-fmt-infra-analysis-node, shellcheck

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
- repo: local
  hooks:
    - id: terraform-validate-infra-analysis-node
      name: terraform init + validate (infra/analysis-node)
      entry: bash -euo pipefail -c 'cd infra/analysis-node && terraform init -backend=false && terraform validate'
      language: system
      pass_filenames: false
      files: ^infra/analysis-node/.*\.tf$
- repo: local
  hooks:
    - id: terraform-fmt-infra-analysis-node
      name: terraform init + fmt (infra/analysis-node)
      entry: bash -euo pipefail -c 'terraform fmt -check'
      language: system
      pass_filenames: false
      files: ^infra/analysis-node/.*\.tf$
- repo: local
  hooks:
    - id: shellcheck
      name: shellcheck (local)
      entry: shellcheck
      language: system
      files: \.(sh|bash)$

removing cloud-init
  .gitignore
  .pre-commit-config.yaml
  .vscode/extensions.json
  README.md
  infra/analysis-node/README.md
  infra/analysis-node/cloud-init.yaml.tftpl
  infra/analysis-node/main.tf
  infra/analysis-node/provider.tf
  infra/analysis-node/terraform.tfvars.example
  infra/analysis-node/variables.tf
Due: terraform-validate-infra-analysis-node, terraform-fmt-infra-analysis-node

format update
  infra/analysis-node/variables.tf
Due: terraform-validate-infra-analysis-node, terraform-fmt-infra-analysis-node

initial ansible
  .gitattributes
  .gitignore
  .vscode/settings.json
  README.md
Due: none

bse ansible
  .gitignore
  credentials/.gitkeep
  infra/analysis-node/terraform.tfvars.example
  infra/base_config/ansible.cfg
  infra/pki_manager.sh
Due: shellcheck

retest
  .pre-commit-config.yaml
  .secrets.baseline
  README.md
Due: none

add cloud-init and step for ansible
  .vscode/settings.json
  README.md
  infra/analysis-node/README.md
  infra/analysis-node/cloud-init.yaml.tftpl
  infra/analysis-node/main.tf
  infra/analysis-node/ouput.tf
  infra/analysis-node/terraform.tfvars.example
  infra/analysis-node/variables.tf
  infra/base_config/steps.txt
  infra/show-ingest-config.md
Due: terraform-validate-infra-analysis-node, terraform-fmt-infra-analysis-node

overhauled the infra directory
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  infra/README.md
  infra/ansible/ansible.cfg
  infra/ansible/playbook.yml
  infra/ansible/steps.txt
  infra/manual_setup.md
  infra/scripts/pki_manager.sh
  infra/terraform/.terraform.lock.hcl
  infra/terraform/README.md
  infra/terraform/cloud-init.yaml.tftpl
  infra/terraform/main.tf
  infra/terraform/ouput.tf
  infra/terraform/provider.tf
  infra/terraform/terraform.tfvars.example
  infra/terraform/variables.tf
Due: shellcheck

Adding base role (untested)
  .vscode/settings.json
  infra/README.md
  infra/ansible/collections/requirements.yml
  infra/ansible/playbook.yml
  infra/ansible/roles/base/README.md
  infra/ansible/roles/base/defaults/main.yml
  infra/ansible/roles/base/handlers/main.yml
  infra/ansible/roles/base/meta/main.yml
  infra/ansible/roles/base/tasks/main.yml
  infra/ansible/steps.txt
Due: none

ansible lint test
  .ansible-lint
  .gitignore
  .pre-commit-config.yaml
  .yamllint.yml
  README.md
  infra/ansible/playbook.yml
  infra/ansible/roles/base/meta/main.yml
  infra/ansible/roles/pki/README.md
  infra/ansible/roles/pki/defaults/main.yml
  infra/ansible/roles/pki/handlers/main.yml
  infra/ansible/roles/pki/meta/main.yml
  infra/ansible/roles/pki/tasks/main.yml
  infra/ansible/roles/pki/tests/inventory
  infra/ansible/roles/pki/tests/test.yml
  infra/ansible/roles/pki/vars/main.yml
Due: none

ansible lint test 2
  infra/ansible/playbook.yml
Due: none

ansuble-lint-check 3
  infra/ansible/playbook.yml
Due: none

ansible-lint check
  .ansible-lint
  .pre-commit-config.yaml
  .yamllint.yml
  README.md
  infra/ansible/playbook.yml
  infra/ansible/roles/pki/defaults/main.yml
  infra/ansible/roles/pki/handlers/main.yml
  infra/ansible/roles/pki/meta/main.yml
  infra/ansible/roles/pki/tasks/main.yml
  infra/ansible/roles/pki/tests/inventory
  infra/ansible/roles/pki/tests/test.yml
  infra/ansible/roles/pki/vars/main.yml
Due: none

Remove PKI and add physical (untested)
  .gitignore
  .pre-commit-config.yaml
  .vscode/settings.json
  infra/README.md
  infra/ansible/ansible.cfg
  infra/ansible/collections/requirements.yml
  infra/ansible/group_vars/.gitkeep
  infra/ansible/group_vars/all/.gitkeep
  infra/ansible/playbook.yml
  infra/ansible/roles/base/README.md
  infra/ansible/roles/base/defaults/main.yml
  infra/ansible/roles/base/tasks/main.yml
  infra/ansible/roles/physical/README.md
  infra/ansible/roles/physical/defaults/main.yml
  infra/ansible/roles/physical/meta/main.yml
  infra/ansible/roles/physical/tasks/main.yml
  infra/ansible/roles/pki/README.md
  infra/ansible/roles/pki/defaults/main.yml
  infra/ansible/roles/pki/handlers/main.yml
  infra/ansible/roles/pki/tasks/main.yml
  infra/ansible/roles/pki/vars/main.yml
  infra/ansible/steps.txt
  infra/scripts/pki_manager.sh
  infra/show-ingest-config.old.md
  secrets/.gitkeep
  secrets/pki/.gitkeep
Due: shellcheck

updated and tested base
  infra/README.md
  infra/ansible/roles/base/handlers/main.yml
  infra/ansible/roles/base/tasks/main.yml
  infra/ansible/steps.txt
  infra/show-ingest-config.old.md
  infra/terraform/main.tf
  infra/terraform/terraform.tfvars.example
Due: none

small readme fixes
  README.md
  infra/README.md
  infra/terraform/README.md
Due: none

tested physical and small adjustments
  .vscode/settings.json
  infra/ansible/roles/base/tasks/main.yml
  infra/ansible/roles/physical/README.md
  infra/ansible/roles/physical/defaults/main.yml
  infra/ansible/roles/physical/meta/main.yml
  infra/ansible/roles/physical/tasks/main.yml
  infra/manual_setup.md
  infra/scripts/pki_manager.sh
Due: shellcheck

update readme in infra
  infra/README.md
Due: none

update readme and add example env file
  .gitignore
  ETHICS_FAQ.md
  README.md
  infra/README.md
  secrets/infra.env.sh.example
Due: none

update pre-commit and update md files
  .pre-commit-config.yaml
  Development.md
  ETHICS_FAQ.md
  Ethics.md
  README.md
  infra/README.md
  infra/ansible/README.md
  infra/ansible/group_vars/all/var.examples
  infra/terraform/README.md
Due: none

adding copilot instructions
  .github/copilot-instructions.md
Due: none

Update Ethics.md
  Ethics.md
Due: none

Update Development.md
  Development.md
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Updating .pre-commit-config.yaml to fix YAML syntax error
  .pre-commit-config.yaml
Due: none

added avahi-daemon to physical
  infra/ansible/roles/physical/tasks/main.yml
  secrets/infra.env.sh.example
Due: none

base server setting for nats (untested)
  .vscode/settings.json
  infra/ansible/roles/base/defaults/main.yml
  infra/nats/ansible_step.md
  infra/nats/server_for_debug.conf
  infra/nats/server_for_show.conf
  infra/scripts/pki_manager.sh
Due: shellcheck

basic testing
  infra/cheat_sheet.md
  infra/nats/server_for_debug.conf
  infra/nats/server_for_show.conf
Due: none

base nats role
  infra/ansible/roles/nats/README.md
  infra/ansible/roles/nats/defaults/main.yml
  infra/ansible/roles/nats/handlers/main.yml
  infra/ansible/roles/nats/meta/main.yml
  infra/ansible/roles/nats/tasks/main.yml
Due: none

nat role (untested)
  infra/ansible/collections/requirements.yml
  infra/ansible/group_vars/all/var.examples
  infra/ansible/playbook.yml
  infra/ansible/roles/nats/README.md
  infra/ansible/roles/nats/defaults/main.yml
  infra/ansible/roles/nats/files/server_for_debug.conf
  infra/ansible/roles/nats/files/server_for_show.conf
  infra/ansible/roles/nats/handlers/main.yml
  infra/ansible/roles/nats/tasks/main.yml
  infra/nats/ansible_step.md
Due: none

adjusting ansible-lint pre-commit
  .pre-commit-config.yaml
Due: none

correcting ansible issues
  .ansible-lint
  infra/ansible/.ansible-lint
  infra/ansible/.yamllint.yml
  infra/ansible/playbook.yml
  infra/ansible/roles/nats/README.md
  infra/ansible/roles/nats/tasks/main.yml
Due: none

nats tested
  infra/ansible/group_vars/all/var.examples
  infra/ansible/inventory.txt.example
  infra/ansible/playbook.yml
  infra/ansible/roles/nats/README.md
  infra/ansible/roles/nats/files/server.conf
  infra/ansible/roles/nats/files/server_debug.conf
  infra/ansible/roles/nats/tasks/main.yml
  secrets/infra.env.sh.example
Due: none

update readme
  infra/README.md
  infra/ansible/README.md
Due: none

Update server.conf
  infra/ansible/roles/nats/files/server.conf
Due: none

Update README.md
  infra/ansible/roles/nats/README.md
Due: none

Update main.yml
  infra/ansible/roles/nats/tasks/main.yml
Due: none

Add Nats role (#2)
  .ansible-lint
  .pre-commit-config.yaml
  .vscode/settings.json
  infra/README.md
  infra/ansible/.ansible-lint
  infra/ansible/.yamllint.yml
  infra/ansible/README.md
  infra/ansible/collections/requirements.yml
  infra/ansible/group_vars/all/var.examples
  infra/ansible/inventory.txt.example
  infra/ansible/playbook.yml
  infra/ansible/roles/base/defaults/main.yml
  infra/ansible/roles/nats/README.md
  infra/ansible/roles/nats/defaults/main.yml
  infra/ansible/roles/nats/files/server.conf
  infra/ansible/roles/nats/files/server_debug.conf
  infra/ansible/roles/nats/meta/main.yml
  infra/ansible/roles/nats/tasks/main.yml
  infra/ansible/roles/physical/tasks/main.yml
  infra/cheat_sheet.md
  infra/scripts/pki_manager.sh
  secrets/infra.env.sh.example
Due: shellcheck

Setting base setting structure
  .vscode/settings.json
  Development.md
  README.md
  code/README.md
  code/settings/pyproject.toml
  infra/README.md
  infra/ansible/roles/nats/files/server.conf
  infra/ansible/roles/nats/files/server_debug.conf
Due: none
